{% extends "template.html" %} {% block main %}

<div class="login-box">
    <h2>Deleting Account</h2>
    <h3>Are you sure?</h3>
    <p>This action cannot be reversed.</p>
    <div>
        <button type="button" onclick="window.location.href='/list-logins'">
            Cancel
        </button>
        <button
            type="button"
            style="background-color: red"
            onclick="window.location.href='/delete-login?id={{ id }}&confirmed=True'"
        >
            Delete
        </button>
    </div>
</div>

{% endblock %}
