{% extends "template.html" %} {% block main %}

<h1>Editing Account</h1>
<button onclick="window.location.href='/list-logins'">Cancel</button>
<br /><br />

<div class="box">
    <h2>Please enter the updated details for the account</h2>
    <form method="POST" action="/edit-login?id={{ cred.id }}">
        <label for="username">Username:</label>
        <input
            type="text"
            id="username"
            name="username"
            value="{{ cred.username }}"
            maxlength="32"
            required
        />

        <label for="password">Password:</label>
        <input
            type="password"
            id="password"
            name="password"
            value="{{ cred.password }}"
            maxlength="32"
            required
        />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ cred.email }}" maxlength="32" />

        <label for="website">Website:</label>
        <input
            type="url"
            id="website"
            name="website"
            value="{{ cred.website }}" maxlength="32"
        />

        <label for="notes">Notes:</label>
        <!-- <input type="text" id="notes" name="notes"  /> -->
        <textarea rows="5" id="notes" name="notes" maxlength="1000">{{ cred.notes }}</textarea>

        <button type="submit">Save</button>
    </form>
</div>

{% endblock %}
