{% extends "template.html" %} {% block main %}

<h1>Welcome to the Password Manager</h1>
{% if not username %}
<h2>Need help logging in?</h2>
<p>Press the 'Login' button in the top right to proceed to the login page.</p>
<p>
    If you have any issues logging in please follow the passwor recovery
    procedure, as shown <a href="/password-reset">here</a>.
</p>
{% elif username %}
<h2>Welcome back, {{ username.capitalize() }}</h2>
<p>Please use the navigation bar at the top for your desired operations.</p>
{% endif %} {% endblock %}
