{% extends "template.html" %} {% block main %}

<h1>{{ username.capitalize() }}'s Saved Accounts</h1>
<button type="button" onclick="window.location.href='/new-login'">New Account</button>
<button type="button" onclick="window.location.href='/search-logins'">Search</button>

{% if creds %}
<table class="table">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Website</th>
        <th>Actions</th>
    </tr>
    {% for cred in creds %}
    <tr>
        <td id="username" onclick="copy('username')">{{ cred.username }}</td>
        <td class="secret" id="password" onclick="copy('password')">{{ cred.password }}</td>
        <td>{{ cred.email }}</td>
        <td>{{ cred.website }}</td>
        <td>
            <button
                type="button" onclick="window.location.href='/view-login?id={{ cred.id }}'"
            >
                View
            </button>
            <button
                type="button" onclick="window.location.href='/edit-login?id={{ cred.id }}'"
            >
                Edit
            </button>
            <button
                type="button" onclick="window.location.href='/delete-login?id={{ cred.id }}'"
            >
                Delete
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
{% elif not creds %}
<p>Hmm... it's a little empty here...</p>
{% endif %} {% endblock %}
