{% extends "template.html" %} {% block main %}

<div class="login-box">
    <h2>Login</h2>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input
            type="text"
            id="username"
            name="username"
            maxlength="32"
            autofocus
            required
        />

        <label for="password">Password:</label>
        <input
            type="password"
            id="password"
            name="password"
            minlength="8"
            maxlength="32"
            required
        />

        <div>
            <label for="toggle">Show Password:</label>
            <input
                type="checkbox"
                id="toggle"
                name="toggle"
                onclick="javascript:toggle_password();"
            />
        </div>

        {% if error %}
        <p class="error">Login failed</p>
        <a href="/reset-password">Forgot password?</a>
        <br />
        {% endif %}

        <button type="submit">Login</button>
        <br />
        <a class="link" href="/signup">Create account</a>
    </form>
</div>

{% endblock %}
