{% extends "template.html" %} {% block main %}

<h1>Password Generator</h1>
<h2>Please input your desired parameters</h2>
<form
    class="box"
    action="javascript:fill_text();"
>
    <label id="length_output" for="length">Length:</label>
    <input
        type="range"
        id="length"
        name="length"
        value="8"
        min="4"
        max="32"
        required
    />

    <label id="strength_output" for="strength">Strength:</label>
    <input
        type="range"
        id="strength"
        name="strength"
        value="1"
        min="1"
        max="2"
        required
    />
    
    <br>
    <button type="submit">Generate</button>

    <br />
    <a id="password" onclick="copy('password')" title="Click to Clipboard"
        >Tip: Click on the generated password to copy</a
    >
</form>
<script>
    var length_slider = document.getElementById("length")
    var length_output = document.getElementById("length_output")

    var strength_slider = document.getElementById("strength")
    var strength_output = document.getElementById("strength_output")

    length_output.innerHTML = "Length: " + length_slider.value

    strength_output.innerHTML = "Strength: " + strength_slider.value

    length_slider.oninput = function() {
        length_output.innerHTML = "Length: " + length_slider.value
        strength_slider.max = length_slider.value / 4
        strength_output.innerHTML = "Strength: " + strength_slider.value
        if (length_slider.value == 4) {
            strength_slider.hidden = true
        } else {
            strength_slider.hidden = false
        }
    }


    strength_slider.oninput = function() {
        strength_output.innerHTML = "Strength: " + strength_slider.value
    }
</script>

{% endblock %}
