{% extends "template.html" %} {% block main %}

<h1>Password Generator</h1>
<form
    class="box"
    action="javascript:generatePassword();"
    onsubmit="fill_text()"
>
    <h2>Please input your desired parameters</h2>
    <label for="length">Length:</label>
    <input
        type="number"
        id="length"
        name="length"
        value="8"
        min="4"
        max="64"
        required
    />

    <label for="strength">Strength:</label>
    <input
        type="number"
        id="strength"
        name="strength"
        value="2"
        min="1"
        max="8"
        required
    />

    <button type="submit">Generate</button>

    <br />
    <a id="password" onclick="copy('password')" title="Click to Clipboard"
        >Tip: Click on the generated password to copy</a
    >
</form>

{% endblock %}
