{% extends "template.html" %} {% block main %}

<h1>Search Logins</h1>
<button onclick="window.location.href='/list-logins'">Back</button>
<br /><br />

<form class="box" method="GET" action="/search-logins">
    <label for="search">Search:</label>
    <input type="search" id="query" name="query" autofocus required />

    <button type="submit">Search</button>
</form>

{% if creds %}
<br />
<a href="/search-logins">Clear results...</a>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Website</th>
        <th>Actions</th>
    </tr>
    {% for cred in creds %}
    <tr>
        <td>{{ cred.username }}</td>
        <td class="secret" id="secret">{{ cred.password }}</td>
        <td>{{ cred.email }}</td>
        <td>{{ cred.website }}</td>
        <td>
            <button
                onclick="window.location.href='/view-login?id={{ cred.id }}'"
            >
                View
            </button>
            <button
                onclick="window.location.href='/edit-login?id={{ cred.id }}'"
            >
                Edit
            </button>
            <button
                onclick="window.location.href='/delete-login?id={{ cred.id }}'"
            >
                Delete
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %} {% endblock %}
