{% extends "template.html" %} {% block main %}

<div class="login-box">
    <h2>Create Account</h2>
    <form method="POST" action="/signup">
        <label for="username">Username:</label>
        <input
            type="text"
            id="username"
            name="username"
            minlength="3"
            maxlength="32"
            autofocus
            required
        />

        <label for="password">Password:</label>
        <input
            type="password"
            id="password"
            name="password"
            minlength="8"
            maxlength="32"
            required
        />

        <label for="password">Confirm Password:</label>
        <input
            type="password"
            id="password2"
            name="password2"
            minlength="8"
            maxlength="32"
            required
        />

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <button type="submit">Create</button>
        <br />
        <a class="link" href="/login">Login instead</a>
    </form>
</div>

{% endblock %}
