{% extends "template.html" %} {% block main %}

<div class="login-box">
    <h2>Two-Factor Authentication</h2>
    <form method="POST" action="/totp-verify">
        <label for="code">Code:</label>
        <input
            type="text"
            id="code"
            name="code"
            maxlength="6"
            autofocus
            required
        />

        {% if error %}
        <p class="error">Code incorrect</p>
        <br />
        {% endif %}

        <button type="submit">Confirm</button>
    </form>
</div>

{% endblock %}
