{% extends "template.html" %} {% block main %}

<div class="login-box">
    <h2>Two-Factor Authentication</h2>
    <form method="POST" action="/totp-enroll">
        <img
            src="{{ url_for('static', filename='private/'+image_name ) }}"
            onclick="alert('Scan this with your 2FA app (e.g. Google Authenticator)')"
        />
        <br /><br />
        <label for="code">Verify Code:</label>
        <input
            type="text"
            id="code"
            name="code"
            maxlength="6"
            autofocus
            required
        />

        {% if error %}
        <p class="error">Code incorrect</p>
        <br />
        {% endif %}

        <button type="submit">Confirm</button>
    </form>
</div>

{% endblock %}
