{% extends 'template.html' %} {% block body %}
<h2>User Signup</h2>
<a href="/">Home</a>

<form method="POST" action="/user/new">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />

  <br />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" minlength="8" required />

  <br />

  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}

  <br />

  <input type="submit" value="Signup" />
</form>

<p>Already have an account? <a href="/user/login">Login here</a></p>
{% endblock %}
