{% extends 'template.html' %} {% block body %}
<h2>User Login</h2>
<a href="/">Home</a>

<form method="POST" action="/user/login">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />

  <br />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <br />

  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}

  <br />

  <input type="submit" value="Login" />
</form>

<p>Don't have an account? <a href="/user/new">Create new account here</a></p>
{% endblock %}
