{% extends "template.html" %} {% block main %}

<h1>Viewing Login</h1>

<table class="table">
    <tr>
        <th>Username</th>
        <td id="username">{{ cred.username }}</td>
        <td><button title="Copy to Clipboard" onclick="copy('username')">📋</button></td>
    </tr>
    <tr>
        <th>Password</th>
        <td id="password" class="secret">{{ cred.password }} </td>
        <td><button title="Copy to Clipboard" onclick="copy('password')">📋</button></td>
    </tr>
    {% if cred.email %}
    <tr>
        <th>Email</th>
        <td>{{ cred.email }}</td>
    </tr>
    {% endif %} {% if cred.website %}
    <tr>
        <th>Website</th>
        <td>{{ cred.website }}</td>
    </tr>
    {% endif %} {% if cred.notes %}
    <tr>
        <th>Notes</th>
        <td>{{ cred.notes }}</td>
    </tr>
    {% endif %}
</table>

<br />
<button onclick="window.location.href='/list-logins'">Done</button>
<!-- <p>Username: {{ cred.username }}</p>

<p>Password: <p class="secret">{{ cred.password }}</p></p>

{% if cred.email %}
<p>Email: {{ cred.email }}</p>
{% endif %}

{% if cred.website %}
<p>Email: {{ cred.website }}</p>
{% endif %}

{% if cred.notes %}
<p>Email: {{ cred.notes }}</p>
{% endif %} -->

{% endblock %}
