body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(131, 58, 180);
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
}

header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

a {
    text-decoration: none;
    margin-top: 5px;
}

.user-status {
    display: flex;
    align-items: center;
}

.logout-btn {
    transition: 25ms;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
}
.logout-btn:hover {
    transition: 25ms;
    opacity: 0.75;
}

main {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
}

.box {
    max-width: 800px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    transition: 100ms;
    padding: 8px;
    margin-bottom: 15px;
}
input:focus {
    transition: 100ms;
    transform: scale(1.025);
}

textarea {
    transition: 100ms;
    padding: 8px;
    margin-bottom: 15px;
}
textarea:focus {
    transition: 100ms;
    transform: scale(1.025);
}

button {
    transition: 25ms;
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    transition: 25ms;
    opacity: 0.75;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.table th {
    background-color: #4285f4;
    color: #fff;
}

.secret {
    transition: 100ms;
    filter: blur(5px);
}
.secret:hover {
    transition: 100ms;
    filter: blur(0px);
}
